html
    head
        title='resized'
        link(rel='stylesheet', href='style.css')
        script(src='svg.js')
        script(src='index.js')
    body
        div#toolbar
            button#closeButton Close
        img#image
